{% extends "index.html" %}

{% block content %}
<div id="nav"></div>
<div class="hero-image">
    <!--Imagen que cubre la parte inicial hasta barra de menús-->
        <div class="hero-text">
          <h1>Horarios</h1>
        </div>
</div>

<div class="contenido">
    <a href="{% url 'reservar_cita' %}"><i class="fas fa-arrow-left enlace-lista"></i></a>
    <h1 class="titulo-dia">{{ nombre_dia }} Horas disponibles</h1>

    <ul class="horas-disponibles">
        {% for hora, citas in horas_con_citas %}
            <li class="hora-disponible">
                <div class="hora-title">{{ hora }}</div>
                {% if citas %}
                    <!-- Mostrar el nombre de la persona que reservó la cita -->
                    <div class="cita">
                        <i class="fas fa-paw"></i> {{ citas.0.nombre_mascota }} y 🖐🏻 {{ citas.0.nombre_dueno }}

                        {% if citas.0.nombre_dueno == profile.first_name %}
                            <a href="{% url 'eliminar_cita' dia hora %}" class="eliminar-cita">X</a>
                        {% endif %}
                    </div>
                    
                {% else %}
                    <!-- Permitir crear una cita si no hay citas para esta hora -->
                    <a href="{% url 'crear_cita' dia hora %}" class="enlace-lista crear-cita">Crear cita</a>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
</div>



<div id="footer"></div>
<script>
    document.querySelectorAll('.eliminar-cita').forEach(el => {
        el.addEventListener('click', e => {
            if (!confirm('¿Estás seguro de que quieres eliminar esta cita?')) {
                e.preventDefault();
            }
        });
    });

// Obtener todos los botones de creación de cita
const createButtons = document.querySelectorAll('.crear-cita');

// Agregar un controlador de eventos click a cada botón
createButtons.forEach(button => {
    button.addEventListener('click', event => {
        // Evitar que el botón realice su acción predeterminada
        event.preventDefault();

        // Obtener la URL del botón
        const url = button.href;

        // Enviar una solicitud AJAX al servidor
        fetch(url, {
            method: 'GET',
            headers: {
                'X-Requested-With': 'XMLHttpRequest'
            }
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                // Crear un nuevo elemento con la clase .cita
                const citaElement = document.createElement('div');
                citaElement.classList.add('cita');
                citaElement.innerHTML = '<i class="fas fa-paw"></i> ' + data.nombre_mascota + ' y 🖐🏻 ' + data.nombre_dueno;

                // Crear un nuevo botón para eliminar la cita
                const eliminarCitaButton = document.createElement('a');
                eliminarCitaButton.classList.add('eliminar-cita');
                eliminarCitaButton.href = data.eliminar_cita_url;
                eliminarCitaButton.textContent = 'X';

                // Agregar el botón para eliminar la cita al nuevo elemento con la clase .cita
                citaElement.appendChild(eliminarCitaButton);

                // Agregar el nuevo elemento a la página
                const horaDisponibleElement = button.closest('.hora-disponible');
                horaDisponibleElement.appendChild(citaElement);

                // Ocultar el botón de creación de cita
                button.classList.add('hidden');
            } else {
                // Mostrar un mensaje de error al usuario
                alert('Error al crear la cita');
            }
        });
    });
});

    </script>
{% endblock %}