{% load static %} 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="../static/img/favicon.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
    <link rel="stylesheet" href="{% static 'css/log.css' %}">
    <title>Mi Mascota</title>
</head>
<body>
    <!--Contenedor General-->
<div class="container">
<div id="nav"></div>
{% block content %}
<div class="contenido-log">
    <h2 class="title-log">Iniciar sesión</h2>
    {% if messages %}
    <div class="error-messages show-error-messages">
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
    </div>
{% endif %}

    <form id="form-ini" method="post">
      {% csrf_token %}
      <label for="username">Nombre de usuario:</label>
      <input type="text" id="username" name="username" required>
      <label for="password">Contraseña:</label>
      <input type="password" id="password" name="password" required>
      <button id="btn-log" type="submit">Iniciar sesión</button>
    </form>
  
    <p>¿No tienes una cuenta? <a href="/register/">Regístrate</a></p>
</div>


{% endblock %}
<div id="footer"></div>
</div>
<script>
    setTimeout(function() {
        var errorMessages = document.querySelector('.error-messages');
        if (errorMessages) {
            errorMessages.classList.remove('show-error-messages');
        }
    }, 5000);
</script>
<link rel="stylesheet" href="{% static 'css/app.d8fbfb83.css' %}">
<script src="{% static 'js/chunk-vendors.f5847faf.js' %}" defer></script>
<script src="{% static 'js/app.d40e330f.js' %}" defer></script>
</body>
</html>